# Maven target directory
/target/

# IDE files
.idea/
*.iml

# Eclipse project files
.classpath
.project
.settings/

# NetBeans project files
/nbproject/private/
/nbbuild/
/dist/
/nbactions.xml

# IntelliJ IDEA project files
/out/
/*.ipr
/*.iws
/*.iml
/.idea
